# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart specific
**/build/
**/ios/Pods/
**/macos/Flutter/Flutter.framework/
**/macos/Flutter/Flutter.podspec
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/ephemeral/.plugin_symlinks
**/macos/Flutter/ephemeral/flutter_export_environment.sh
**/macos/Flutter/ephemeral/flutter_settings.gradle
**/macos/Flutter/ephemeral/flutter_xcconfig_derived.xcconfig
**/macos/Flutter/ephemeral/ios
**/macos/Flutter/ephemeral/vscode
**/webdev/
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# JetBrains IDEs
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Flutter and Dart SDK
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.flutter/


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
